<!DOCTYPE html>
<html>
  <head>
    <title>Mynexthobby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <ul>
      <li><%= link_to "MyNextHobby", root_path %></li>
      <li><%= link_to "All Hobbies", hobbies_path %></li>
      <li><%= link_to "Add your own hobby", new_hobby_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
